.titulos{
    list-style-type: none;
    margin: 0px;
    background-color: #000;
    padding: 20px 40px;
    font-size: 20px;
}
.titulos li {
    display: inline-block;
    padding-left: 15px;
}
.titulos li *{
    color: #828181;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
}
.right{
    float: right;
}
li.display * {
    display: none !important;
}
.active{
    color: #fff !important;
}
.active *{
    color: #fff !important;
}
