.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.box div {
    width: 100px;
    height: 100px;
}
body, html {
    height: 100%;
}
div#root {
    height: 100%;
}
.vertical-center{
    min-height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login{
    height: 71vh;
    padding: 35px 70px 35px 70px;
    border: 1px solid;
    border-radius: 14%;
    width: 75vh;
}
.title-form{
    font-weight: 900;
    font-size: 32px;
}
.center{
    text-align: center
}
.vh-35{
    height: 35%;
}
.vh-20{
    height: 20%;
}
input#password {
    margin-top: 20px;
}
.form-control{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto !important;
}
.btn-login{
    background: #aed6ef;
    border: 1px;
    border-radius: 5px;
    padding: 3px 33px 3px 33px;
    font-weight: 500;
    margin-top: 101px;
    font-size: 22px;
}
.disabled{
    background: #e3e7ea;
}
form>* {
    display: block;
    width: 100%;
    font-size: 20px;
}