.col-4{
    width: 33%;
    display: inline-block;
}
.col-8{
    width: 66%;
    display: inline-block;
}
.size_card-4{
    max-width: calc(33% - 60px);
}
.card{
    border: 1px solid;
    padding: 10px;
    margin: 30px;
    box-sizing: border-box;
    vertical-align:top;
    height: 100%;
}
.titlaCard{
    font-size: 20px;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.center{
    margin: 0 auto !important;
    display: block !important;
}
.grey{
    color: #828181;
}
.card2 {
    max-width: 66%;
    display: inline-block;
    margin: 0 auto;
    width: 66%;
}
.form-control{
    
}